html, body, #root {
  height: 100%;
  margin: 0px;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

ol,
ul {
  padding-left: 30px;
}


/* states */

.player{
  color: #e9963c;
}

.bot{
  color: #f1faee;
}

.winner{
  color: #66c090;
}
.viewing-state{
  color: whitesmoke;
}


/* Game */

.game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.game-board{
  background-color: #1D3354;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.game-info {
  background-color: #208aae;
  width: 50%;
  height: 100%;
}

.game-info> div{
  margin-top: 150px;
}

.game-info>div > ul{
  list-style: none;
  width: 60%;
  margin: 15px auto;
  padding: 0px;
}

.game-info>div> ul> li:nth-child(odd){
  background-color: #f1faee;
}

.game-info>div> ul> li:nth-child(odd)> button{
  color: #2f2f2f;
}

.game-info>div> ul> li:nth-child(even)> button{
  color: #eaeaea;
}

.game-info>div> ul> li> button{
  background-color: #ffffff00;
  color: black;
  border: none;
  font-size: 16px;
  width: 100%;
  line-height: 30px;
}
button:hover{
  cursor: pointer;
}
.game-info>div> ul> li{
  height: 30px;
  line-height: 30px;
  margin: 10px 0px;
}

.game-info>div> ul> li:nth-child(even){
  background-color: #e9963c;
}

.history{
  text-align: center;
  font-size: 24px;
  background-color: #1D3354;
  width: 60%;
  height: 50px;
  line-height: 50px;
  margin: 0px auto;
  margin-bottom: 30px;
}

.history>b{
  color: #f1faee;
}


/* Board */

.board {
  width: 50%;
  height: 60%;
  margin: 0 auto;
}

.status {
  font-size: 24px;
  background: #208aae;
  padding: 5px;
  margin-bottom: 15px;
  text-align: center;
}

.tie, .lost {
  color: #b02626;
}

.board-row {
  width: 100%;
  height: 25%;
}

.youare {
  color: #1D3354;
  margin-top: 15px;
  text-align: center;
  background: #208aae;
  padding: 15px;
}

.youare>span, .youare>.player{
  font-size: 32px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

/* Square */

.square {
  background: #fff0;
  border: 2px solid #208aae;
  float: left;
  font-size: 72px;
  font-weight: bold;
  line-height: 100%;
  height: 100%;
  padding: 0;
  text-align: center;
  width: 33.3%;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}


/* media queries */

@media screen and (max-width: 600px){
  .game{
    display: flex;
    flex-direction: column;
  }

  .board{
    width: 60%;
    margin-top: 90px;
  }

  .game-board, .game-info{
    width: 100%;
    height: 800px;
  }

  .game-board{
    align-items: normal;
  }

  .square{
    font-size: 36px;
  }

  .status{
    font-size: 18px;
    height: 40px;
  }

  .youare>span{
    font-size: 18px;
  }

  .game-info> div {
    margin: 80px 0px;
  }
}


@media screen and (min-width: 600px) and (min-width: 1300px){
  .board {
    width: 50%;
    height: 50%;
    margin: 0 auto;
  } 

  .square{
    font-size: 52px;
  }

  .status{
    font-size: 18px;
  }

  .youare>span, .youare>.player {
    font-size: 22px;
  }
}
